<!DOCTYPE html>
<html>
<title>{{ ip }}</title>
<style type="text/css">
body {
  font-family: sans-serif;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.header {
  text-transform: capitalize;
  font-weight: bold;
  background-color: #caf2f8;
}
td, th {
  border-left: 1px solid #69d2e7;
  border-bottom: 1px solid #69d2e7;
}
th, dt {
  background-color: #69d2e7;
  color: white;
  font-weight: bold;
}
dt {
  width: 200px;
  font-weight: bold;
}
</style>
<body>
<h2>{{ip}} <small> is your IP address</small></h2>
<dl>
  <dt>HTTP Method</dt>
  <dd>{{method}}</dd>
</dl>
<dl>
  <dt>HTTP Version</dt>
  <dd>{{version}}</dd>
</dl>
<dl>
  <dt>Request URI</dt>
  <dd>{{uri}}</dd>
</dl>
<dl>
  <dt>Scheme</dt>
  <dd>{{scheme}}</dd>
</dl>
<dl>
  <dt>Your port</dt>
  <dd>{{port}}</dd>
</dl>
<h2>Headers</h2>
<table>
  <th>
    Header
  </th>
  <th>
    Value
  </th>
  {% for h, v in pairs(headers) do %}
  <tr>
    <td class="header">
      {{ h }}
    </td>
    <td>
      <pre>{{ v }}</pre>
    </td>
  </tr>
  {% end %}
</table>

<h2>HTTP GET Arguments</h2>
<table>
  {% for h, v in pairs(args) do %}
  <tr>
    <td class="header">
      {{ h }}
    </td>
    <td>
      <pre>{{ v }}</pre>
    </td>
  </tr>
  {% end %}
</table>

<h2>HTTP POST Arguments</h2>
<table>
  {% for h, v in pairs(post_args) do %}
  <tr>
    <td class="header">
      {{ h }}
    </td>
    <td>
      {% if type(v) == "table" then %}
      <pre>{{ table.concat(v, ', ') }}</pre>
      {% else %}
      <pre>{{ v }}</pre>
      {% end %}
    </td>
  </tr>
  {% end %}
</table>


<small>
  Source of this page: <a href="http://github.com/torhve/ip">github.com/torhve/ip</a>
</small>
</body>
</html>
